/* restoring all of the browser effects */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/* same effects to the body */
body{
    background-color: #000;
    color: #fff;
}

/* positioning of heading */
h1{
    display: flex;
    justify-content: center;
}

/* positions of main div and 2 images */
.main_box,.img1,.img2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main_box{
    
    margin-top: 2em;
    margin-bottom: 2em;
}

.img1{
    background-image: url(./img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img2{
    background-image: url(./img2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
    background-attachment: fixed;
    border-top: solid red 5px;
    border-left: solid red 5px;
}